{
  "botToken": "DISCORD_BOT_TOKEN",
  "username": "WEKU_USERNAME",
  "postingKey": "WEKU_WIF",
  "weight": 20,
  "minPostAge": "15 minutes ago",
  "maxPostAge": "4 days ago",
  "commandPrefix" : "$",
  "adminList": [ "478630106257031189"],
  "runtimeConfigFile": "config-runtime.json"
}
